version: '3.8'
services:
  frontend:
    build:
      context: .
      args:
        VITE_API_URL: "${VITE_API_URL}"
        VITE_WHATSAPP_API_URL: "${VITE_WHATSAPP_API_URL}"
    ports:
      - "80:80"
    restart: unless-stopped
    environment:
      - NODE_ENV=production
